<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="./images/ico" href="./templates/images/back1.ico" width="20" heigh="20"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliverables</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Splash&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&family=Shadows+Into+Light&display=swap" rel="stylesheet">
  </head>
<body class="del_body">
  <h1 class="del_first_letter">My Tech!</h1>
  <div class="del_container">
    <a href="/hello" class="del_item">初期ページへ</a>
    <a href="/photo" class="del_item">写真ページへ</a>
    <a href="/questionnaire" class="del_item">アンケートページへ</a>
  </div>
    <br>
    <table border="2" class="lug">
      <tr>
        <th>インターンに参加した企業</th>
      </tr>
      <td>Comming Soon!</td>
      <!--
      <td>某重電系メーカー 5days</td>
      <td>某銀行システム 3days</td>
      -->
    </table>

    <table border="2" class="lug">
      <br>
        <tr>
          <th>扱うことができるプログラミング言語</th>
        </tr>
        <tr>
          <td>Python(このサイトはFlaskで作られています)</td>
        </tr>
        <tr>
          <td>Ruby(Ruby on Rails)</td>
        </tr>
        <tr>
            <td>JavaScript(最近勉強し始めた)</td>
        </tr>
        <tr>
            <td>HTML</td>
        </tr>
        <tr>
            <td>CSS</td>
        </tr>     
    </table>

    <br><br>
    <table border="2" class="dev">
      <tr>
        <th>製作した成果物、参加したイベント</th>
        <th>個人　または　団体</th>
        <th>制作時、参加時に使用した技術</th>
      </tr>
      <tr>
        <td><a href="https://github.com/kansan-kansan/Attack">ブルートゥース攻撃の経過時間の計測をするデスクトップアプリ</a></td>
        <td>個人</td>
        <td>Python (Tkinter)</td>
      </tr>
      <tr>
        <td><a href="https://github.com/kansan-kansan/qr_read_make">QRコードの作成アプリと画像から解析アプリ</a></td>
        <td>個人</td>
        <td>Python (OpenCV)</td>
      </tr>
      <tr>
          <td><a href="https://github.com/kansan-kansan/Heroku">いま見ているWebページ</a></td>
          <td>個人</td>
          <td>Python (Flask),HTML,CSS</td>
      </tr>
      <tr>
          <td>裏シラバス　　ハッカソン</td>
          <td>4人チーム</td>
          <td>Python(Django),HTML,CSS,Git</td>
      </tr>
      <tr>
        <td>Coming Soon!</td>
        <td>Coming Soon!</td>
        <td>Coming Soon!</td>
      </tr>
    </table>
    <br><br>
    <table border="2" class="qua">
        <tr>
          <th>取得した資格</th>
        </tr>
        <tr>
          <td>ITパスポート</td>
        </tr>
        <tr>
          <td>基本情報技術者試験(現在取得中)</td>
        </tr>
    </table>
    <hr color="black">
    <footer class="del_footer">
      *2022 Kanzawa
    </footer>
</body>
</html>