<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="./images/ico" href="./templates/images/back1.ico" width="20" heigh="20"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    Soory, please wait here.
    I'm very busy until november.
    Please index page <a href="/hello">here!</a>

    <!--
    <h1>ログイン画面</h1>
    <form method="POST">
        <label for="">ユーザ名</label>
        <input type="text" name="username">
        <label for="">パスワード</label>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
</form>
    -->
</body>
</html>