<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="./images/ico" href="./templates/images/back1.ico" width="20" heigh="20"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photos</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Splash&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body class="pho_body">
    現在構築中です。しばらくお待ちください。
    <!--
    <h1 class="del_first_letter">My Research!</h1>
    <div class="del_container">
      <a href="/" class="del_item">初期ページへ</a>
    </div>
    私は今現在IoTの研究室に所属しています。2022年9月からモーションセンサーを利用したIoTを構築しています。
    <a href="" target="_blank">ソースコードです。</a>
    構成図です。<br><img src="./images/reserch.png">-->
</body>
</html>